Source: cloudveneto-horizon-extensions
Maintainer: Paolo Andreetto <paolo.andreetto@pd.infn.it>
Section: python
Priority: optional
Build-Depends:
 dh-python,
 python3-all,
 debhelper (>= 9)
Standards-Version: 3.9.6

Package: cloudveneto-horizon-extensions
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 openstack-dashboard,
 python3-keystoneclient,
 python3-keystone
Description: CloudVeneto integrations for Openstack Horizon.
 CloudVeneto integrations for Openstack Horizon.

